.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.partners-child {
  border: 2px solid var(--link-col);
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centering y-axis */
  align-items :center; /* Centering x-axis */
  padding: 10px;
}

img + em {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: var(--gray);
}

